html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 80px 0 60px;
}

.footer {
  height: 60px;
  background-color: #fff;
  padding-top: 20px;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.selectize-input {
  background-image: none !important;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 16px !important;
}

.selectize-control.single .selectize-input {
  box-shadow: none !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.selectize-input {
  padding: 9px 8px !important;
}

.selectize-control.is-invalid .selectize-input {
  border-color: #dc3545 !important;
}

.ui-datepicker-calendar {
  display: none;
}